<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div{
            width: 800px;
            height: 800px;
            margin: 0 auto;
            background: url("images/error404.png") no-repeat;
            overflow: hidden;
            background-size:cover;
        }
    </style>
</head>
<body>
<div onclick="goHome()">
</div>
</body>
<script src="js/qbank.js"></script>
<script>
    function goHome() {
        window.location.href = getHostUrl();
    }
</script>
</html>