<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/frame/layui/css/layui.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <style>
        .demoTable .layui-btn{
            background-color: #F54C53;
        }
        .layui-laypage>.layui-laypage-curr>.layui-laypage-em{
            background-color: #F54C53;
        }
        .layui-table-cell .layui-btn{
            background-color: #F54C53;
        }
        .layui-table-cell .layui-btn-danger{
            background-color: #1890FF;
        }
    </style>
</head>
<body>
<div class="demoTable">
    搜索ID：
    <div class="layui-inline">
        <input class="layui-input" name="id" id="demoReload" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>
</div>

<table class="layui-hide" id="LAY_table_user" lay-filter="user"></table>


<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
    </div>
</script>

<script src="../static/frame/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use('table', function () {
        var table = layui.table;
        //方法级渲染
        table.render({
            elem: '#LAY_table_user'
            , url: '/QBank/user/getList'
            , cols: [
                [
                {checkbox: true, fixed: true}
                , {field: 'userId',                 title: 'ID', width: 80, sort: true, fixed: true}
                , {field: 'userWorkNumber',         title: '学工号', sort: true}
                , {field: 'userName',               title: '姓名'}
                , {field: 'userTitle',              title: '职称'}
                , {field: 'userCollege',            title: '所属学院'}
                , {field: 'userProfessionalField',  title: '专业领域'}
                , {field: 'userPhoneNumber',        title: '电话号码'}
                , {fixed: 'right', width: 178, align: 'center', toolbar: '#barDemo'}
            ]
            ]
            , toolbar: '#toolbarDemo'
            , defaultToolbar: ['filter', 'exports']
            , id: 'testReload'
            , page: true
        });

        var $ = layui.$, active = {
            reload: function(){
                var demoReload = $('#demoReload');

                //执行重载
                table.reload('testReload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        key: {
                            id: demoReload.val()
                        }
                    }
                }, 'data');
            }
        };
        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        //监听表格复选框选择
        table.on('checkbox(user)', function (obj) {
            console.log(obj)
        });
        //监听工具条
        table.on('tool(user)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                layer.msg('ID：' + data.id + ' 的查看操作');
            } else if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.alert('编辑行：<br>' + JSON.stringify(data))
            }
        });


    });
</script>
</body>
</html>